body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  min-height: 100vh;
}

main {
  flex: 1; /* Fills available space and pushes footer down */
}

nav {
  background-color: #bfd3ca;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

nav .navbar-brand {
  font-size: 2rem;
  color: #1f602a;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

section {
  padding: 50px 0;
  text-align: center;
}

section h2 {
  color: #0c1a0e;
  font-family: 'Poppins', sans-serif;
}

.home img {
  max-width: 40%;
  height: auto;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.1rem;
  color: black;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  transition: color 0.3s ease, background-color 0.3s ease;
}

nav ul li a:hover {
  color: #1f602a;
  background-color: rgba(255, 153, 0, 0.1);
  border-radius: 80px;
}

.c-btn {
  background-color: #3b7645;
  font-family: 'Poppins', sans-serif;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 80px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.c-btn:hover {
  background-color: #1f602a;
  transform: scale(1.05);
}

footer p {
  color: #a3a2a2;
  font-size: 14px;
  margin-top: 10px;
}

footer {
  background-color: #165621;
  padding: 10px;
  text-align: center;
  position: relative;
  width: 100%;
  bottom: 0;
  color: white;
}

nav .container-fluid {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.navbar-nav {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0 auto;
  justify-content: center;
}

ul .c-btn {
  margin-left: auto;
  font-family: 'Poppins', sans-serif;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.image img {
  max-width: 40%;
}

@media (max-width: 768px) {
  .flex-container {
      flex-direction: column;
      text-align: center;
  }
}

.image {
  overflow: hidden;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

.typing-effect h2 {
  font-family: 'Poppins', sans-serif;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  width: 100%;
  animation: typing 3s steps(20, end), blink 0.75s step-end infinite;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  flex-direction: column;
  padding: 1px;
}

.box-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.crud-operations {
  margin-top: 20px;
  text-align: center;
}
